.container {
  margin-top: 2vh;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  text-align: center;
  width: 100vw;
  height: 8vh;
  background-color: black;
  color: white;
  margin-bottom: 1vh;
}

.contents {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 25vw;
  width: 50vw;

  height: 100%;
}

.quoteList {
  width: 100%;
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 1vw;
  padding-right: 1vw;

}

.quoteVisible, .quoteHidden {
  width: 100%;
  font-family: Georgia, serif;
  font-size: x-large;
  font-style: italic;
  margin-bottom: 3vh;
}

.quoteHidden {
  visibility: hidden;
}

@keyframes slidein {
  from {
      
    margin-left: 100vw;
  }

  to {
      
    margin-left: 0%;
  }
}

.quoteVisible {
  visibility: visible;
  animation-name: slidein;
  animation-duration: 1s;
}

.inputArea {
  margin-top: 3vh;
  width:100%;
  height:5vh;
  display: flex;
  flex-direction: row;
}

.inputArea input {
  padding-left: 0.5vw;
  flex-grow: 1;
  border-right: 0;
  font-size: x-large;
}

.inputArea button {
  background-color: green;
  border-left: 0;
  color: white;
  width: 5vw;
}

.inputArea button:hover {
  background-color: darkgreen;
}

.inputArea button:active {
  background-color: darkslategrey;
}

.guessList {
  margin-top: 3vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  border-bottom: 1px solid black;
}

.guessVisible, .guessHidden {
  font-size: x-large;
  margin-bottom: 3vh;

  text-align: left;
  border-radius: 10px;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.guessHidden {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}

.guessVisible {
  visibility: visible;
}

.boxCorrect, .boxIncorrect {
  height: 2vh;
  width: 2vh;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

.boxIncorrect {
  background-color: red;
}

.boxCorrect {
  background-color: green;
}

.endInfo {
  text-align: center;
  font-size: large;
  margin-top: 1vh;
  font-weight: bold;
}

.gameOver, .gameOverClosed {
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 25vh;
  left: 25vw;

  border-radius: 5px;
  border: 4px solid black;
  background-color: white;
  z-index: 100;

  text-align: center;
}

.gameOverClosed {
  visibility: hidden;
}

.gameOverMessage {
  font-weight: bold;
  position: relative;
  top: 30%;
  font-size: 2rem;
}

.gameOverAnswer {
  color: red;
  font-weight: bolder;
  position: relative;
  top: 30%;
  font-size: 2rem;
  margin-top: 1%;
  width: 100%;
  background-color: aliceblue;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  width: 2vw;
  height: 2vw;
  text-align: center;
  font-size: x-large;
}

.closeButton:hover, .shareButton:hover {
  background-color: ghostwhite;
}

.closeButton:active, .shareButton:active {
  background-color: lightgray;
}

.shareButton {
  position: absolute;
  width: 20%;
  height: 5vh;
  left: 40%;
  bottom: 5vh;
  background-color: white;
  border-radius: 5px;
}

.result {
  position: absolute;
  width: 100%;
  height: 5vh;
  left: 0%;
  bottom: 5vh;
  background-color: white;
  border-radius: 5px;
  font-size: x-large;
  text-align: center;
}

@media (max-width: 450px) {
  .title {
  }

  .contents {
      width: 80vw;
      left: 10vw;
  }

  .quoteList {
  }

  .quoteVisible, .quoteHidden {
      font-size: medium;
  }

  .inputArea input {
      flex-grow: 1;
      border-right: 0;
      font-size: large;
      padding-left: 1vw;
  }

  .inputArea button {
      background-color: green;
      border-left: 0;
      color: white;
      width: 20vw;
  }

  .gameOver, .gameOverClosed {
      position: fixed;
      width: 90vw;
      height: 50vh;
      top: 25vh;
      left: 5vw;
  
      border-radius: 5px;
      border: 4px solid black;
      background-color: white;
      z-index: 100;
  
      text-align: center;
  }

  .gameOverMessage {
    top: 20%;
  }

  .gameOverAnswer {
    top: 20%;
      margin-top: 10%;
  }

  .closeButton {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: white;
      width: 10vw;
      height: 10vw;
      text-align: center;
      font-size: x-large;
  }

  .shareButton {
      border-radius: 5px;
      border: 2px solid black;
  }

  .guessVisible {
      font-size: large;
  }

  .result {
      bottom: 3vh;
  }
}